<div class='row'>
  <div class='span4'>
    <h2>Concert Schedule</h2>
    <p>Here you'll find a listing of our upcoming concerts, so mark your calendars. A majority of performances by the Old Crown Brass Band are free and open to the public, so bring your friends and family for a little entertainment everyone can enjoy!</p>
    <%= image_tag('calendar.png', :class => 'event_image') %>
  </div>
  <div class='span8'>
    <div class='well'>
      <h1>Upcoming Concerts</h1>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Location</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @events.each do |event| %>
            <tr>
              <td><%= format_date(event.event_date) %></td>
              <td><%= format_time(event.event_date) %></td>
              <td><%= event.location %></td>
              <td><%= link_to 'More Info', event, :class => 'btn btn-mini'%></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br />

      <%= link_to 'New Event', new_event_path %>
    </div>
  </div>
</div>
