<p id="notice"><%= notice %></p>

<p>
  <b>Attire:</b>
  <%= @event.attire %>
</p>

<p>
  <b>Date:</b>
  <%= @event.date %>
</p>

<p>
  <b>Call time:</b>
  <%= @event.call_time %>
</p>

<p>
  <b>Location:</b>
  <%= @event.location %>
</p>

<p>
  <b>Street 1:</b>
  <%= @event.street_1 %>
</p>

<p>
  <b>Street 2:</b>
  <%= @event.street_2 %>
</p>

<p>
  <b>City:</b>
  <%= @event.city %>
</p>

<p>
  <b>State:</b>
  <%= @event.state %>
</p>

<p>
  <b>Zipcode:</b>
  <%= @event.zipcode %>
</p>

<p>
  <b>Latitude:</b>
  <%= @event.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @event.longitude %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
