<div class='row'>
  <div class='span12'>
    <div class='well'>
      <p id="notice"><%= notice %></p>

      <p>
        <b>attire:</b>
        <%= @event.attire %>
      </p>

      <p>
        <b>date:</b>
        <%= @event.date %>
      </p>

      <p>
        <b>call time:</b>
        <%= @event.call_time %>
      </p>

      <p>
        <b>location:</b>
        <%= @event.location %>
      </p>

      <p>
        <b>street 1:</b>
        <%= @event.street_1 %>
      </p>

      <p>
        <b>street 2:</b>
        <%= @event.street_2 %>
      </p>

      <p>
        <b>city:</b>
        <%= @event.city %>
      </p>

      <p>
        <b>state:</b>
        <%= @event.state %>
      </p>

      <p>
        <b>zipcode:</b>
        <%= @event.zipcode %>
      </p>

      <p>
        <b>latitude:</b>
        <%= @event.latitude %>
      </p>

      <p>
        <b>longitude:</b>
        <%= @event.longitude %>
      </p>


      <%= link_to 'edit', edit_event_path(@event) %> |
      <%= link_to 'Back', events_path %>
    </div>
  </div>
</div>
