<div class='row'>
  <div class='span6'>
    <h1>Next Concert <small>Come see us play!</small></h1>
    <div class='well'>
      <div class="row">
        <div class="span2">
          <%= image_tag 'concert_image.jpg', :style => 'padding-right:10px;', :class => 'thumbnail' %>
        </div>
        <div class="span3">
          <h3><%= next_event ? next_event.title : 'No Concerts Scheduled' %></h3>
          <p><%= next_event ? next_event.description : "We're sorry, but we don't have any upcoming concerts currently scheduled." %></p>
          <p><%= next_event ? format_datetime(next_event.event_date) : "" %></p>
          <p><em><%= next_event ? event_fee(next_event.admission_fee) : '' %></em></p>
          <a href="<%= url_for next_event %>" class='btn'><i class="icon-info-sign"></i> Concert Details</a>
        </div>
      </div>
    </div>
  </div>
  <div class="span3">
    <h1>About</h1>
    <div class="well">
      <p>We are an all volunteer traditional British brass band based in Fort Wayne, Indiana. Our group is made up of everything from professional players to very talented and dedicated amateurs...</p>
      <%= link_to 'Learn More', about_path, :class => 'btn' %>
    </div>
  </div>
  <div class='span3'>
    <h1>Support</h1>
    <div class='well'>
      <p>Old Crown Brass Band is a volunteer organization that relies heavily on the support of our members and you, our community. We're also a member of Arts United and a nonprofit organization. Your tax deductible donation is greatly appreciated.</p>
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="J6968P8Z2SALW">
      <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
      <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
    </div>
  </div>
</div>

